:root {
	--primary: #1141A4;
	--primary-intense: #175CD8;
	--logo-text: #1F3B73;
	--primary-dark: #273A73;
	--primary-light: #DCE7FF;
	--black: #373737;
	--black-light: #323232;
	--blue-grey: #7D8CB8;

	--z-header-top: 5;
	--z-header-bottom: 15;
	--z-tooltip: 50;
	--z-nav-link: 51;
	--z-nav: 200;
	--z-modal: 300;
}