.adhd-page {
	.section-start {
		&__body {
			flex: 0 1 660px;
			padding-bottom: 32px;
			padding-right: 32px;
		}

		&__title {
			@extend %h2;
		}

		.table {
			margin-top: 32px;
			display: grid;
			grid-template-columns: repeat(3, auto);
			column-gap: 40px;
			row-gap: 20px;
			font-size: 14px;
		}

		.table__column {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.bold {
			font-weight: 700;
		}

		&__foot {
			margin-top: 32px;
		}

		@media (max-width: 1023px) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				background: url("../img/speech-disorder/image-1.png") 50%/cover no-repeat;
			}

			&__body {
				flex: unset;
				padding: 0;
			}
		}

		@media (max-width: 767px) {
			.table {
				column-gap: 20px;
				row-gap: 24px;
				font-weight: 500;
				font-size: 12px;
				margin-top: 24px;

				grid-template-columns: repeat(3, 1fr);
			}

			.table__column {
				gap: 12px;
			}

			&__title {
				font-weight: 500;
			}

			&__foot {
				margin-top: 24px;
			}
		}

		@media (max-width: 374px) {
			.table {
				grid-template-columns: 1fr;
			}
		}
	}

	.section-about-program {
		&__text {
			max-width: 650px;
		}
	}

	.content-with-image {
		padding: 65px 0 85px;
		background: #F8F8F8;

		.text {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.2;
			margin-top: 50px;
			max-width: 470px;
		}

		@media (max-width: 1023px) {
			padding: 70px 0;

			.text {
				font-size: 16px;
				margin-top: 40px;
			}
		}

		@media (max-width: 767px) {
			background: none;
			padding: 60px 0;

			.text {
				font-size: 14px;
			}
		}
	}

	.section-for-whom {
		@media (min-width: 1024px) {

			&__image {
				width: 100%;
			}
		}
	}

	.section-program-content.first {
		@media (min-width: 768px) {
			.body {
				padding: 80px 0 55px;
			}

			.desk {
				padding: 20px 30px;
			}

			.right {
				align-self: end;
			}
		}
	}

	.section-program-content.second {
		.body {
			padding: 80px 0 90px;
		}

		@media (min-width: 768px) {
			.desk {
				padding: 52px 30px;
			}

			.right {
				align-self: end;
			}
		}

		@media (max-width: 1023px) {
			.body {
				padding: 70px 0;
			}
		}

		@media (max-width: 767px) {
			.body {
				bottom: 60px 0;
			}
		}
	}

	.section-proscpects {
		.cards {
			margin-top: 40px;
		}

		.text {
			margin-top: 24px;
		}

		@media (min-width: 1024px) {
			padding-bottom: 100px;
		}
	}

	.section-diploma {
		padding: 80px 0 40px;

		.text {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			gap: 40px;

			>div {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}
		}

		.subtitle {
			font-size: 22px;
			font-weight: 500;
			line-height: 1.2;
		}

		.list {
			line-height: 1.2;
			color: #F8F8F8;
		}

		.info {
			line-height: 1.2;
			color: #F8F8F8;
		}

		.list-item {
			@extend %list-mark;

			&::after {
				background: white;
			}
		}

		@media (min-width: 1024px) {
			&__image {

				img {
					height: 100%;
					object-fit: contain;
				}
			}
		}

		@media (max-width: 1023px) {
			padding: 70px 0;

			.text {
				margin: 0;
			}

			.subtitle {
				font-size: 20px;
			}
		}

		@media (max-width: 767px) {
			padding: 60px 0;

			.subtitle {
				font-size: 18px;
			}

			.info,
			.list {
				font-weight: 500;
				color: white;
			}
		}
	}

	.section-price {
		padding: 55px 0 65px;

		.title.second {
			margin-top: 120px;
		}

		.mini-cards {
			margin-top: 50px;
			gap: 8px;
		}

		@media (max-width: 1023px) {
			padding: 70px 0;

			.title.second {
				margin-top: 80px;
			}

			.mini-cards {
				margin-top: 40px;
				gap: 12px;
			}
		}

		@media (max-width: 767px) {
			padding: 60px 0;

			.title.second {
				margin-top: 40px;
			}
		}
	}

	.section-questions {
		@media (min-width: 1024px) {
			padding: 60px 0 75px;
		}
	}

}