.logomassage-page {
	.section-start {

		.container {
			height: 492px;
			min-height: unset;
		}

		&__image {
			flex: 0 1 calc(50% + 80px);
		}

		&__body {
			flex: 0 1 50%;
			padding-right: 42px;
		}

		.text {
			margin-top: 24px;
			line-height: 1.2;
		}

		.table {
			margin-top: 32px;
			display: grid;
			grid-template-columns: repeat(2, auto);
			row-gap: 20px;
			column-gap: 32px;
			font-size: 14px;
		}

		.table__column {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.bold {
			font-weight: 700;
		}

		&__foot {
			margin-top: 32px;
		}

		@media (max-width: 1023px) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				background: url("../img/logomassage/image-1.png") 7% 50%/cover no-repeat;
			}

			&__body {
				flex: unset;
				padding: 0;
			}
		}

		@media (max-width: 767px) {
			.table {
				margin-top: 24px;
				gap: 20px;
				grid-template-columns: repeat(2, auto);
			}

			.text {
				font-size: 14px;
			}

			.table__column {
				&:nth-child(1) {
					order: 1;
				}

				&:nth-child(2) {
					grid-column: span 2;
					order: 3;
				}

				&:nth-child(3) {
					order: 4;
				}

				&:nth-child(4) {
					order: 2;
				}
			}

			&__foot {
				margin-top: 24px;
			}
		}
	}

	.section-about-program {
		&__text {
			max-width: 580px;
		}

		@media (min-width: 1024px) {
			&__body {
				padding: 65px 0 115px;
			}

			.bird {
				right: 150px;
			}

			&__text {
				margin-top: 65px;
			}
		}
	}

	.section-program-content {
		.desk p {
			counter-increment: count 1;
			position: relative;
			padding-left: 20px;

			&::before {
				content: counter(count) ".";
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		@media (min-width: 768px) {
			.body {
				padding: 80px 0;
			}

			.desk {
				padding: 50px 20px;
			}

			.right {
				align-self: end;
			}
		}

		@media (max-width: 767px) {
			.desk p {
				padding-left: 15px;
			}

			.desk {
				gap: 0;
			}
		}
	}

	.section-training-info {
		background: #F3F3F3;

		&__subtitle {
			max-width: 540px;
		}

		@media (max-width: 767px) {
			background: none;

			.info-card {
				background: var(--primary-intense);
			}
		}
	}

	.section-diploma {
		padding: 80px 0 40px;

		.text {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			gap: 40px;

			>div {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}
		}

		.subtitle {
			font-size: 22px;
			font-weight: 500;
			line-height: 1.2;
		}

		.list {
			line-height: 1.2;
			color: #F8F8F8;
		}

		.info {
			line-height: 1.2;
			color: #F8F8F8;
		}

		.list-item {
			@extend %list-mark;

			&::after {
				background: white;
			}
		}

		@media (min-width: 1024px) {
			&__image {

				img {
					height: 100%;
					object-fit: cover;
				}
			}
		}

		@media (max-width: 1023px) {
			padding: 70px 0;

			.text {
				margin: 0;
			}

			.subtitle {
				font-size: 20px;
			}
		}

		@media (max-width: 767px) {
			padding: 60px 0;

			.subtitle {
				font-size: 18px;
			}

			.info,
			.list {
				font-weight: 500;
				color: white;
			}
		}
	}

	.section-questions {
		@media (min-width: 1024px) {
			padding: 60px 0 75px;
		}
	}
}